<form>
 <input type="button" value="Back" onclick="history.back()">
</form>

<h1> Edit and save your favorite drink! </h1>



<br>

<form action ="/drinks/<%=@drinks.id%>" method = "post"> 
  <input type ="hidden" id ="hidden" name= "_method" value ="patch">

  <%# <h1> Edit or Delete your favorite drink! </h1> %>
  <p>Drink Name: <input id = "drink_name" name = "drink_name" type = "text" value = "<%=@drinks.drink_name%>"></p>
  <%# <p>Temperature:<input id = "temperature" name = "temperature" type = "text"></p> %>
  
  <p>Choose a Temperature: <select name="temperature" id="temperature"> </p> 
    <option value="Hot"<%= 'selected' if @drinks.temperature == 'Hot' %> >Hot</option>
    <option value="Very Hot"<%= 'selected' if @drinks.temperature == 'Very Hot' %>>Very Hot</option>
    <option value="Scalding"<%= 'selected' if @drinks.temperature == 'Scalding' %>>Scalding</option>
    <option value="Kids Temp"<%= 'selected' if @drinks.temperature == 'Kids Temp' %>>Kids Temp</option>
    </select>
    <br> 
  <p>Choose a Milk type: <select name="milk_options" id="milk_option"> </p>
  <label for="milk_options">Choose a Milk Type:</label>
  <%# <select name="Milk Options" id="milk_options"> %>
    <option value="Whole milk"<%= 'selected' if @drinks.milk_options == 'Whole Milk' %>>Whole Milk</option>
    <option value="2% Milk"<%= 'selected' if @drinks.milk_options == '2% Milk' %>>2% Milk</option>
    <option value="Almond"<%= 'selected' if @drinks.milk_options == 'Almond' %>>Almond</option>
    <option value="Oat"<%= 'selected' if @drinks.milk_options == 'Oat' %>>Oat</option>
    </select>
    <br>
  <p>Choose a Flavor: <select name="flavors" id="flavors"> </p>
  <label for="flavors">Choose a flavor:</label>
  <%# <select name="Flavors" id="flavors"> %>
    <option value="Vanilla"<%= 'selected' if @drinks.flavors == 'Vanilla' %>>Vanilla</option>
    <option value="Pumpkin"<%= 'selected' if @drinks.flavors == 'Pumpkin' %>>Pumpkin</option>
    <option value="Salted honey"<%= 'selected' if @drinks.flavors == 'Salted Honey' %>>Salted Honey</option>
    <option value="Lavender"<%= 'selected' if @drinks.flavors == 'Lavender'%>>Lavender</option>
  </select>
  <br>
   <p>Choose a Caffeine Type: <select name="caffeine_type" id="caffeine_type"> </p> 
    <label for="caffeine_type"> Choose a Caffeine Type:</label>
    <option value="Single_shot"<%= 'selected' if @drinks.caffeine_type == 'Single_shot' %>>Single shot</option>
    <option value="Double_shot"<%= 'selected' if @drinks.caffeine_type == 'Double_shot' %>>Double shot</option>
    <option value="Triple_shot"<%= 'selected' if @drinks.caffeine_type == 'Triple_shot'%>>Triple shot</option>
    <option value="Quad_shot"<%= 'selected' if @drinks.caffeine_type == 'Quad_shot' %>>Quad shot</option>
    <option value="Decafe"<%= 'selected' if @drinks.caffeine_type == 'Decafe' %>>Decafe</option>  
    </select>
    <br>
  <input id = "submit" type = "submit" value = "Save!">
  </form>